<div class="container">
  <h1>Message Board</h1>

  <div class="row top-buffer">
    <div class="col-md-5">
      <input type="text" class="form-control" placeholder="Message Text" ng-model="text">
    </div>

    <div class="col-md-3">
      <div class="input-group">
        <div class="input-group-addon">@</div>
          <select class="form-control" ng-model="selectedUser">
            <option value="" disabled selected>User</option>
            <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
          </select>
        </div>
    </div>

    <div class="col-md-2">
      <button id="filter" type="submit" class="btn btn-info" ng-click="filterMessagesByUser()">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
      </button>
    </div>

    <div class="col-md-2">
      <button id="post" type="submit" class="btn btn-success" ng-click="addMessage()">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Post
      </button>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col-md-5">
      <div class="input-group">
        <div class="input-group-addon">from:</div>
        <input type="text" class="form-control" placeholder="City Name" ng-model="city">
      </div>
    </div>

    <div class="col-md-3">
      <button id="city" type="submit" class="btn btn-default" ng-click="getCityInfo()">
        <span class="glyphicon" aria-hidden="true"></span>Get City Info
      </button>
    </div>
  </div>


  <div class="row top-buffer" ng-show="cityInfo.name">
      <div class="col-md-2"><label>City:</label> {{cityInfo.name}}</div>
      <div class="col-md-4"><label>Temp:</label> {{cityInfo.main.temp}} C</div>
      <div class="col-md-3"><label>Latitude:</label>  {{cityInfo.coord.lat}}</div>
      <div class="col-md-3"><label>Longitude:</label>  {{cityInfo.coord.lon}}</div>
  </div>

  <div class="row top-buffer" ng-show="selectedMessage && !isCollapsed">
    <div class="col-md-5">
      <input type="text" class="form-control" placeholder="Response Text" ng-model="responseText">
    </div>
      <div class="col-md-3">
        <button id="respond" type="submit" class="btn btn-primary" ng-click="respondMessage()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Respond
        </button>
      </div>
    </div>
  </div>

  <div class="row top-buffer">

      <table class="table table-hover">

        <tr>
          <th>Message</th>
          <th>Location</th>
          <th>Temp</th>
          <th>Date</th>
        </tr>
        <tr ng-repeat-start = "message in messages track by message.id" ng-click="selectMessage(message)" ng-class="{selected: message.id === selectedMessage}">
          <td class="col-md-6">{{ message.text }}</td>
          <td class="col-md-3"><small>{{ message.city }} <p><em>lat: {{message.latitude}} lon: {{message.longitude}}</em></p></small></td>
          <td class="col-md-1"><small>{{ message.temperature }} C</small></td>
          <td class="col-md-2"><small>{{ message.createDate | date: 'medium' }}</small></td>
        </tr>
        <tr ng-repeat="response in messageResponses track by response.id" class="selected-response" ng-show="message.id === selectedMessage && !isCollapsed" ng-repeat-end="">

          <td class="col-md-6"> - {{ response.text }}</td>
          <td class="col-md-3"/>
          <td class="col-md-1"/>
          <td class="col-md-2"><small>{{ response.createDate | date: 'medium'}}</small></td>
        </tr>
      </table>
    </div>

</div>
