<div class="container">
  <h1>Message Board</h1>

  <div class="row top-buffer">
    <div class="col-lg-4">
      <input type="text" class="form-control" placeholder="Message Text" ng-model="text">
    </div>

    <div class="col-md-3">
      <select class="form-control" ng-model="selectedUser">
        <option value="" disabled selected>Select User</option>
        <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
      </select>
    </div>

  </div>

    <div class="row top-buffer">
      <div class="col-md-2">
        <button id="filter" type="submit" class="btn btn-info" ng-click="filterMessagesByUser()">
          <span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Filter
        </button>
      </div>

      <div class="col-md-2">
        <button id="post" type="submit" class="btn btn-success" ng-click="addMessage()">
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span> Post
        </button>
      </div>

      <div class="col-md-2">
        <button id="respond" type="submit" class="btn btn-primary" ng-click="Message()">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Respond
        </button>
      </div>

      <div class="col-md-2">
        <button id="refresh" type="submit" class="btn btn-success" ng-click="addMessage()">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        </button>
      </div>
  </div>

  <div class="row top-buffer">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title">Messages</h3>
      </div>

      <table class="table table-hover">

        <tr>
          <th>Content</th>
          <th>Date</th>
        </tr>
        <tr ng-repeat-start = "message in messages track by message.id" ng-click="selectMessage(message)" ng-class="{selected: message.id === selectedMessage}">
          <td>{{ message.text }}</td>
          <td>{{ message.createDate | date: 'dd/mm/yyyy hh:mm:ss'}}</td>
        </tr>
        <tr ng-show="message.id === selectedMessage && !isCollapsed" ng-repeat-end="">
          <td colspan="3">
            <h3>Test</h3>
          </td>
        </tr>
      </table>
    </div>

  </div>


</div>
